{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <form method="post" class="form-container">
        {% csrf_token %}

        <div class="form-header">
            <a href="{% url 'overview' %}" class="back-arrow"></a>
            <h2>Login</h2>
        </div>

        <div class="form-row">
            <label for="{{ form.username.id_for_label }}">
                {{ form.username.label }}
            </label>
            {{ form.username }}
        </div>

        <div class="form-row">
            <label for="{{ form.password.id_for_label }}">
                {{ form.password.label }}
            </label>
            {{ form.password }}
        </div>

        <input type="hidden" name="next" value="{{ next }}">

        <button type="submit">Login</button>

        <div class="form-footer">
            Don't have an account yet?
            <a href="{% url 'register' %}">Register now</a>
        </div>

    </form>

{% endblock %}