{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <form action="" method="post" class="form-container" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-header">
            <a href="{% url 'overview' %}" class="back-arrow"></a>
            <h2>Registrieren</h2>
        </div>

        {% for field in form %}
            <div class="form-row">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <p><input type="submit" value="Registrieren"></p>

        <div class="form-footer">
            Du hast bereits einen Account?
            <a href="{% url 'login' %}">Anmelden</a>
        </div>
    </form>
{% endblock %}

