{% extends 'base.html' %}

{% block content %}

    <!--<h1>DANKBARKEIT</h1>

{% if user.is_authenticated %}
    <p><a href="{% url 'upload' %}">Upload new Image</a></p>
{% endif %}

{% if user.is_authenticated %}
    <p><a href="{% url 'upload_text' %}">Upload Text</a></p>
{% endif %}

{% for message in messages %}
    <div class="message-box">
        <p>"{{ message.text }}"</p>

        <small>Veröffentlicht am: {{ message.created_at|date:"d.m.Y H:i" }}</small>

        <form action="{% url 'like_message' message.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">
                👍 {{ message.total_likes }} Likes
            </button>
        </form>
    </div>
{% endfor %}

<ul>
    {% for image in images %}
    <li><img src="{{ image.image.url }}"><br>{{ image.title }}</li>
    {% endfor %}
</ul> -->

    <h1>DANKBARKEIT</h1>

    {% if user.is_authenticated %}
        <p><a href="{% url 'upload' %}">Upload new Image</a></p>
        <p><a href="{% url 'upload_text' %}">Upload Text</a></p>
    {% endif %}

    <ul>
        {% for image in images %}
            <li><img src="{{ image.image.url }}" width="200"><br>{{ image.title }}</li>
        {% endfor %}
    </ul>


    <div id="bubble-container">
        {% for message in messages %}
            <div class="bubble"
                 data-text="{{ message.text }}"
                 data-date="{{ message.created_at|date:'d.m.Y H:i' }}"
                 data-likes="{{ message.total_likes }}"
                 data-url="{% url 'like_message' message.pk %}">
            </div>
        {% endfor %}
    </div>

    <div id="message-popup">
        <button class="close-btn" id="close-popup">X</button>
        <p id="popup-text" style="margin-top: 15px; font-style: italic;"></p>
        <small id="popup-date" style="color: gray;"></small>
        <hr>
        <form id="popup-form" method="POST" action="">
            {% csrf_token %}
            <button type="submit">
                👍 <span id="popup-likes"></span> Likes
            </button>
        </form>
    </div>

{% endblock %}