{% extends 'base.html' %}

{% block content %}

<h1>Text Dashboard</h1>

{% for message in messages %}
    <div class="message-box">
        <p>"{{ message.text }}"</p>

        <small>Veröffentlicht von {{ message.author }} am: {{ message.created_at|date:"d.m.Y H:i" }}</small>

        <form action="{% url 'like_message' message.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">
                👍 {{ message.total_likes }} Likes
            </button>
        </form>
    </div>
{% endfor %}

{% endblock %}