<section class="sky">
    {% block content %}

        <div class="form-container">
            <div class="form-header">
                <a href="{% url 'overview' %}" class="back-arrow"></a>
                <h2>Über das Projekt</h2>
            </div>
            <p>Manchmal geht die Zeit so schnell vorbei, manchmal steht alles Kopf und manchmal tut es gut sich bewusst
                daran zu erinnern, was einem gut tut und Freude bereitet.</p>
            <p>Mit diesem Projekt laden wir zum Verweilen auf einer grünen Wiese ein. Schau dich gerne um und streichle
                das ein oder andere Schaf, welches an dir vorbeizieht. Lese die Dankbarkeitsgedanken anderer und
                beschäftige dich vielleicht selber damit, für welche große oder kleine Sache du heute dankbar bist. Und
                vielleicht möchtest du deine Gedanken dazu teilen und einem Schaf mit auf den Weg geben.</p>
            <p>Das Projekt ist inspiriert von anderen ähnlichen Projekten wie “The unsent project” oder “The loneliness
                project”.</p>
            <br>
        </div>

    {% endblock %}
</section>