<section class="sky">
    {% block content %}

        <div class="form-container">
            <div class="form-header">
                <a href="{% url 'overview' %}" class="back-arrow"></a>
                <h2>Über das Projekt</h2>
            </div>
            <p>Willkommen bei unserer interaktiven Webanwendung! Dieses Projekt soll dir dabei helfen mehr Dankbarkeit
                zu empfinden</p>
            <p>Die Textnachrichten laufen als Schafe über den Bildschirm. Klicke sie an, um sie zu lesen oder
                ihnen ein Like dazulassen. Die jüngsten 20 Schafe laufen hier umher, ältere wandern automatisch
                auf die Weide, wo sie gemütlich Gras naschen und entspannten Beats lauschen.</p>
            <br>
        </div>

    {% endblock %}
</section>