{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="about">
        {% include "main/about.html" %}
    </section>
    <section id="hero">
        <div class="form-container">
            <div class="form-header">
                <a href="{% url 'overview' %}" class="back-arrow"></a>
                <h2>Nachrichten-Archiv</h2>
            </div>
        </div>


        <div class="archive-grid">
            {% for message in messages %}
                <div class="message-popup archive-message">
                    <p style="margin-top: 15px; font-style: italic;">
                        "{{ message.text }}"
                    </p>

                    <small style="color: #441C08;">
                        {{ message.created_at|date:"d.m.Y H:i" }}
                    </small>

                    <hr>
                </div>
            {% empty %}
                <p>Noch nichts los hier</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}