{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="about">
        {% include "main/about.html" %}
    </section>
    <section id="hero">


        <h1>DANKBARKEIT</h1>

        {% if user.is_authenticated %}
            <a id="yourthoughts" href="{% url 'upload_text' %}">
                <img src="{% static 'images/yourthoughts_sheep.png' %}" alt="DeineGedanken">
                <span>Teile deine Gedanken</span>
            </a>
        {% endif %}



        <div id="sheep-container">
            {% for message in messages %}
                <div class="sheep"
                     data-id="{{ message.pk }}"
                     data-text="{{ message.text }}"
                     data-date="{{ message.created_at|date:'d.m.Y H:i' }}"
                     data-likes="{{ message.total_likes }}"
                     data-url="{% url 'like_message' message.pk %}">
                </div>
            {% endfor %}
        </div>

        <div id="message-popup">
            <div class="close-btn">
                <button type="button" id="close-popup">&times;</button>
            </div>
            <p id="popup-text" style="margin-top: 15px; font-style: italic;"></p>
            <small id="popup-date" style="color: #441C08;"></small>
            <hr>
            <form id="popup-form" method="POST" action="">
                {% csrf_token %}
                <button id="feelyou" type="button">
                    <img src="{% static 'images/fuehlich_Schaf.png' %}" alt="Fühl ich">
                    <span id="popup-likes"></span>
                </button>
            </form>
        </div>

    </section>

{% endblock %}