<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BASE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/cva1skl.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
<header id="navbar">
    <nav>
        <div class="nav-left">
            {% if user.is_authenticated %}
                Du bist angemeldet als {{ user.username }}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button id="logout-btn" type="submit">Abmelden</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Anmelden</a>
                <a href="{% url 'register' %}">Registrieren</a>
            {% endif %}
        </div>

        <div class="nav-center">
            <a href="#about">Über das Projekt</a>
            <span>|</span>
            <a href="{% url 'archive' %}">Archiv</a>
        </div>
        <div class="nav-right">
            <a href="https://www.tha.de/Service/Impressum.html">Impressum</a>
            <span>|</span>
            <a href="https://www.tha.de/Service/Datenschutz.html">Datenschutz</a>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
<audio id="bg-music" loop>
    <source src="{% static 'music/bubbles.mp3' %}" type="audio/mpeg">
    Dein Browser unterstützt kein Audio.
</audio>
<button id="music-toggle" class="music-button">
    <img id="music-icon" src="{% static 'images/nomusic_sheep.png' %}" alt="Musik abspielen">
</button>
</body>
</html>