
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #7FA542;
}


/*Background Grass Layer*/
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('../images/Grass_texure_2.png');
    background-repeat: repeat;
    opacity: 0.5;
    z-index: -1;
}

h1 {
    font-family: "peckham-press", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 90px;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
}


h2 {
    font-family: "luxurious-script", script, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #441C08;
    text-align: center;
    margin: 0;
}

p {
    font-family: "inria-serif", sans-serif;
    color: #441C08;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "inria-serif", sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    font-family: "inria-serif", sans-serif;
    color: white;
    font-weight: 700;
    font-style: normal;
}

/*About und Hero scrollen*/
html {
    scroll-behavior: smooth;
}


#about {
    min-height: 100vh;
    background-color: #A3C7C7;
    position: relative;
    z-index: 2;
    padding-top: 70px;
    /* min-height: 100vh;
     padding-top: 70px;
     background-color: #A3C7C7;*/
}

#hero {
    /* padding-top: 80px;
     height: 100vh;*/
    position: sticky;
    top: 0;
    /*overflow: hidden;*/
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: visible;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


#navbar nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 40px;
}


.nav-left {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 15px;
}


.nav-center {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 15px;
}


.nav-right {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 15px;
}

#logout-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "inria-serif", sans-serif;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#logout-btn:hover {
    text-decoration: underline;
}

.form-container button,
.form-container input[type="submit"] {
    font-family: "inria-serif", sans-serif;
    background-color: #DCC7C4;
    font-weight: 700;
    font-style: normal;
    border: none;
    color: #441C08;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

#yourthoughts {
    position: fixed;
    left: 30px;
    bottom: 30px;

    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    z-index: 1000;
}

#yourthoughts img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
}

#yourthoughts:hover img {
    transform: scale(1.1);
}

.music-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


.music-button img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.music-button:hover img {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.form-container button:hover {
    background: #D3B9B6;
}

#music-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/*Fenster-Form*/
.form-header {
    position: relative;
    text-align: center;
}

.back-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid #DCC7C4;
    border-bottom: 15px solid transparent;

    cursor: pointer;
}

.form-container {
    min-width: 500px;
    max-width: 700px;
    margin: 100px auto;
    margin-bottom: 5px;
    padding: 25px;
    border-radius: 20px;
    background: #EEE9DA;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container p {
    color: #441C08;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.form-row label {
    width: 40%;
    font-weight: bold;
    color: #441C08;
}

.form-row textarea,
.form-row input {
    font-family: "inria-serif", sans-serif;
    color: #441C08;
    font-weight: 400;
    font-style: normal;

    width: 60%;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;

    background: #DCC7C4;
    color: #441C08;

    outline: none;
    transition: 0.2s;
}

.form-row textarea:focus,
.form-row input:focus {
    background: #D3B9B6;
    box-shadow: 0 0 0 2px #D3B9B6;
}

.form-row textarea:not(:placeholder-shown),
.form-row input:not(:placeholder-shown) {
    background: #DCC7C4;
    color: #441C08;
}

.form-footer {
    text-align: center;
}

.form-footer a {
    color: #441C08;
}

.form-footer a:hover {
    text-decoration: underline;
}

/*Gedanken verfassen Fenster*/
.thought-wrapper {
    width: fit-content;
    margin: 0 auto;
}

.front-arrow {
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-left: 20px solid #DCC7C4;
    border-bottom: 15px solid transparent;
}


#submit-sheep {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

#packedsheep {
    font-family: "inria-serif", sans-serif;
    color: #EEE9DA;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#packedsheep img {
    width: 120px;
    height: auto;
}

#packedsheep span {
    text-align: right;
    max-width: 160px;
}

/*Schafe auf der Wiese*/
#sheep-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
    overflow: hidden;
}

.sheep {
    position: absolute;
    left: -150px;
    background-image: url("/static/images/runningsheep.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    pointer-events: auto;
    transition: opacity 1s ease-out;
}

.sheep:hover {
    filter: brightness(1.2) drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

@keyframes runRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw + 300px));
    }
}

.paused .sheep {
    animation-play-state: paused !important;
}

/* Das Pop-up Styling */

.archive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;

    width: 100%;
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 0 20px;
}

.archive-message {
    padding: 10px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    background: #EEE9DA;

    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    box-sizing: border-box;
}

#message-popup {
    padding: 10px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    background: #EEE9DA;

    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 350px;
    display: none; /* Standardmäßig versteckt */
    pointer-events: auto;
}

#message-popup.active {
    display: block;
}

.close-btn {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

.close-btn button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

    font-size: 28px;
    line-height: 1;
    color: #441C08;

    cursor: pointer;
}


#feelyou {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


#feelyou img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.2s;
}


#feelyou:hover img {
    transform: scale(1.1);
}

#popup-date {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* Archiv */

.archive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 30px;

    justify-content: center;
    margin: 30px auto 0;
    width: fit-content;
}

.message-tile {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .archive-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .archive-grid {
        grid-template-columns: 1fr;
    }
}
